body {
  margin: 0;
  padding: 0;
}
.container {
  min-height: 800px;
  max-width: 90%;
  margin: 0 auto;
  border: 5px solid #ccc;
}

.categories,
.loading {
  padding: 10px;
  border: 5px solid #ccc;
  margin: 0 auto;
  max-width: 90%;
  min-height: 600px;
}

.images,
.description {
  padding: 10px;
  border: 5px solid #ccc;
  margin: 0 auto;
  max-width: 90%;
  min-height: 400px;
  text-align: center;
}
